/* 
font-family: 'Kanit', sans-serif;  for numbers
font-family: 'PT Sans', sans-serif; for rest of text
*/

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #29282f;
    color: white;

}

#setup {
    display: block;
}

h1 {
   text-align: center;
}
input, select{
    background-color: #818087;
    border-radius: 5px;
    border: none;
    margin-left:5px;
    display: block;
}
select {
    cursor: pointer;
    color: black;
}


form {
    
    border-radius:5px;
    border: 3px solid black;
    margin:10px;
    padding:10px;
    background-color: #54535c;
}

#generateTimer {
    cursor: pointer;
    margin: 10px;
    height: 50px;
    width: 160px;
    font-size: 1.1em;
    border-radius: 5px;
    color: white;
    background-color: #54535c;
}

#hiit, #hiitTitle {
    display: none;
    margin-top: 50px;
}

main {
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    height: 400px;
    width: 95%;
    display: grid;
    grid-template-rows: 80px 250px 70px;
    grid-template-columns: .75fr 1fr 1fr .75fr;
    grid-template-areas:
    'a z z p'
    'b c c d'
    'e f g h';
}

#time {
    font-size: 7em;
    grid-area: c;
}
#elapse {
    grid-area: a;
}
#remain {
    grid-area: p;
}
#sets {
    grid-area: z;
}
#cancel {
    grid-area: e;
    cursor: pointer;
}
#pause {
    grid-area: h;
    cursor: pointer;
}
#work {
    grid-area: f;
}
#rest {
    grid-area: g;
}

#startWorkout {
    height: 75px;
    font-size: 50px;
    padding: 10px;
    color: white;
    width: 140px;
    border-radius: 5px;
    background-color: #54535c;
    cursor: pointer;
}

#cancel, #pause {
    background-color: #54535c;
    color: white;
    border-radius: 5px;
}

/* START OF MEDIA */


@media (min-width: 875px) {
  
  
  form {

      border-radius:5px;
      border: 3px solid black;
      margin:10px;
      padding:10px;
      background-color: #54535c;
  }

  
#time {
    font-size: 10em;
    grid-area: c;
}
  
  input, select {
    display: inline;
  }
  

  #hiit, #hiitTitle {
      display: none;
      margin-top: 70px;
  }


    main {
      text-align: center;
      border: 5px solid black;
      border-radius: 5px;
      height: 500px;
      width: 80%;
      display: grid;
      grid-template-rows: 100px 330px 70px;
      grid-template-columns: .5fr 1fr 1fr .5fr;
      grid-template-areas:
      'a z z p'
      'b c c d'
      'e f g h';
  }

    #startWorkout {
      height: 100px;
      font-size: 70px;
      padding: 15px;
      color: white;
      width: 200px;
      border-radius: 5px;
      background-color: #54535c;
      cursor: pointer;
  }

}

@media (max-width: 300px) { /* for extra small phones */
      
  main {
      text-align: center;
      border: 5px solid black;
      border-radius: 5px;
      font-size: 15px;
      height: 300px;
      width: 98%;
      display: grid;
      grid-template-rows: 70px 170px 60px;
      grid-template-columns: .25fr 1fr 1fr .25fr;
      grid-template-areas:
      'a z z p'
      'b c c d'
      'e f g h';
    }
  
  #time {
    font-size: 4em;
  }
      #startWorkout {
      height: 70px;
      font-size: 30px;
      padding: 10px;
      color: white;
      width: 100px;
      border-radius: 5px;
      background-color: #54535c;
      cursor: pointer;
  }
  
  #work, #rest {
    font-size: 13px;
  }
}